body {
  margin: 0;
  padding: 0;
  background: linear-gradient(blanchedalmond, #ecd6af, blanchedalmond);

  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.grad {
  background: linear-gradient(#212020, #101011, #2b2a2a);
  height: 60px;

}
.title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: .2rem;
  font-weight: 500;
}
.txt-1 {
  color: crimson;
}
.txt-2 {
  color: blanchedalmond;
}
.nav {
  margin-left: auto;
  margin-right: 10%;
}
.hdr {

  margin-top: 60px;
  height: 100px;

}
.col-md-8, .col-md-4, .col-md-3 {
  padding: 0;
}

img {
  display: block;
  width: 100%;
}
.frm  {
  height: 160px;
  //padding-left: 10px;
  width: 30%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.box-gif {
  height: 160px;
  //padding-left: 10px;
  width: 30%;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #131313;

}
.box-gif img {
  display: block;
  line-height: 100%;
  width: 50%;

  margin: 0;
}
.box-hero {
  height: 160px;
  width: 40%;
  margin: 0 auto;
  background: url("components/assets/img/mr-cup-fabien-barral-Mwuod2cm8g4-unsplash.jpg")no-repeat center center/cover;
}
.grid {
  display: grid;
  grid-template-columns:  1fr  1fr 1fr 1fr;
  .box-dark.gridItem, .box-dark {
    background: linear-gradient(#111111, #545252, #151413);
    color: #ffebcd;
    min-height: 160px;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #968686;
    border-left: 1px solid #a79898;
    border-right: 1px solid #b7a4a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .cardImgHolder {
      height: 160px;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }

}
.box-darker {
  background: linear-gradient(#242222, #646363, #24211f);
  color: #f8eede;
  width: 100%;
  height: 160px;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid #968686;
  border-left: 1px solid #a79898;
  border-right: 1px solid #b7a4a4;
  display: flex;
  align-items: center;
  justify-content: space-around;

}